body{
    width: 60%;
}

header{
    padding: 20px;
    text-align: center;
    margin-left: 60%;
}

header img {
    display: block;
    width: 120%;
    margin: auto;
}

main{
    padding: 20px;
    margin: 20px auto;
    width: 150%;
    text-align: left;
}

main img { 
    display: block;
    margin: auto;
    width: 35%;
}

nav {
    padding: 20px;
    width: 150%;
    margin: 20px auto;
    font-size: 20px;
    background-color: gray;
    text-align: center;

}

footer {
    text-align: center;
    padding: 40px 0;

}
